{% extends "base.html" %}
{% block content %}
    <a href="{% url 'task_create'%}" class="btn btn-success">Add Task</a>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>
                    {{ task.title }}
                </td>
                <td>
                    {{ task.status }}
                </td>
                <td>
                    <a href="{% url 'task_edit' task.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}